<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.erlide.backend.erlangProcess">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestErlang"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables"/>
<booleanAttribute key="org.erlide.core.console" value="true"/>
<stringAttribute key="org.erlide.core.cookie" value="erlide"/>
<booleanAttribute key="org.erlide.core.has_backend" value="false"/>
<listAttribute key="org.erlide.core.interpretModules">
<listEntry value="TestErlang:client.erl"/>
<listEntry value="TestErlang:helloWorld.erl"/>
<listEntry value="TestErlang:lib_misc.erl"/>
<listEntry value="TestErlang:msg.erl"/>
<listEntry value="TestErlang:server.erl"/>
<listEntry value="TestErlang:test_0.erl"/>
<listEntry value="TestErlang:test_1.erl"/>
<listEntry value="TestErlang:test_2.erl"/>
<listEntry value="TestErlang:test_3.erl"/>
</listAttribute>
<booleanAttribute key="org.erlide.core.loadAllNodes" value="false"/>
<booleanAttribute key="org.erlide.core.longName" value="false"/>
<stringAttribute key="org.erlide.core.nodeName" value="TestErlang"/>
<stringAttribute key="org.erlide.core.projects" value="TestErlang"/>
<stringAttribute key="org.erlide.core.runtime" value="erl7.3"/>
</launchConfiguration>
